@font-face {
   font-family: '28 Days Later';
   src: url('28 Days Later/font.ttf');
}
@font-face {
   font-family: 'ArchitectsDaughter';
   src: url('ArchitectsDaughter/font.ttf');
}
@font-face {
   font-family: 'BEBAS___';
   src: url('BEBAS___/font.ttf');
}
